/* Desktop PC & Responsive */
div.grid-container {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    width: 95%;
    /* background-color: black; */
}

div.grid-item {
    float: left;
    /* background-color: white; */
}

div.grid-item img {
    width: 500px;
    height: 250px;
}

.narrowParagraph {
    width: 500px;
    margin-left: 70px;
    line-height: 30px;
}

a.project-title {
    color: #333333;
    text-decoration: none;
}

a.project-title:hover {
    color: #4E7EA2;
}
  
  /* Ipad Pro COMPLETE */
  @media screen and (max-width: 1024px) {
    div.grid-container {
        display: inline-grid;
        grid-template-columns: auto;
        width: 100%;
    }

    h2 {
        font-size: 280%;
        font-weight: bold;
    }

    .github {
        font-size: 200%;
    }
    
    div.grid-item {
        float: left;
    }
    
    div.grid-item img {
        width: 90%;
        height: auto;
    }
    
    .narrowParagraph {
        width: 600px;
        margin-left: 200px;
        font-size: 200%;
    }
}
  
  /* Ipad COMPLETE */
  @media screen and (max-width: 769px) {
    div.grid-container {
        display: inline-grid;
        grid-template-columns: auto;
        width: 100%;
    }

    h2 {
        font-size: 280%;
        font-weight: bold;
    }

    .github {
        font-size: 200%;
    }
    
    div.grid-item {
        float: left;
    }
    
    div.grid-item img {
        width: 90%;
        height: auto;
    }
    
    .narrowParagraph {
        width: 600px;
        margin-left: 80px;
        font-size: 190%;
    }
  }
  
  /* Iphone 6/7/8 Plus COMPLETE */
  @media screen and (max-width: 414px) {
    div.grid-container {
        display: inline-grid;
        /* grid-gap: 10px; */
        grid-template-columns: auto;
        width: 100%;
        /* background-color: black; */
    }

    h2 {
        font-size: 140%;
        font-weight: bold;
    }
    
    div.grid-item {
        float: left;
        /* background-color: white; */
    }
    
    div.grid-item img {
        width: 280px;
        height: auto;
    }
    
    .narrowParagraph {
        width: 250px;
        margin-left: 80px;
        font-size: 100%;
    }

    h4.github {
        font-size: 100%;
    }
  }
  
  /* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X */
  @media screen and (max-width: 412px) {
    div.grid-container {
        display: inline-grid;
        /* grid-gap: 10px; */
        grid-template-columns: auto;
        width: 100%;
        /* background-color: black; */
    }

    h2 {
        font-size: 140%;
        font-weight: bold;
    }
    
    div.grid-item {
        float: left;
        /* background-color: white; */
    }
    
    div.grid-item img {
        width: 280px;
        height: auto;
    }
    
    .narrowParagraph {
        width: 250px;
        /* margin-left: 1000px; */
    }
  }
  
  /* Iphone 5/SE & Galaxy S5 */
  @media screen and (max-width: 375px) {
    div.grid-container {
        display: inline-grid;
        /* grid-gap: 10px; */
        grid-template-columns: auto;
        width: 100%;
    }
    
    div.grid-item {
        float: left;
    }

    div.grid-item img {
        width: 300px;
        height: auto;
        /* margin-left: 20px; */
        
    }

    .narrowParagraph {
        width: 220px;
        font-size: 100%;
        margin-left: 70px;
        /* margin-left: -70px; */
        /* line-height: 30px; */
    }

    h4.github {
        font-size: 100%;
    }
  }