/* Desktop PC & Responsive COMPLETE */
div.contact-container {
    display: inline-block;
    width: 95%;
    margin-bottom: 10px;
}

div.contact-box {
    width: 500px;
    /* border: 2px solid #4A6C89; */
    border-radius: 5px;
    margin-left: 400px;
    text-align: center;
    background-color: #A4CAE9;
    margin-bottom: 44px;
}

div.contact-title {
    /* float: left; */
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

div.contact-form {
}

.form-control {
    width: 90%;
    margin-left: 22px;
}

div.contact-name {
    margin-top: 8px;
    margin-bottom: 8px;
}

div.contact-email {
    margin-top: 8px;
    margin-bottom: 8px;
}

div.contact-button {
    margin-top: 16px;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

button {
    background-color: #4A6C89;
    color: white;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    width: 80px;
}
  
  /* Ipad Pro COMPLETE */
  @media screen and (max-width: 1024px) {
    div.contact-container {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        margin-left: -520px;
    }
    
    div.contact-box {
        width: 700px;
        border-radius: 5px;
        text-align: center;
        background-color: #A4CAE9;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    div.contact-title {
        padding-top: 10px;
        font-size: 30px;
    }
    
    .form-control {
        width: 90%;
        height: 5vh;
        font-size: 20px;
    }
    
    div.contact-name {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    div.contact-email {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    div.contact-button {
        margin-top: 16px;
        margin-bottom: 8px;
        padding-bottom: 10px;
    }
    
    button {
        background-color: #4A6C89;
        color: white;
        border-radius: 4px;
        border: none;
        text-decoration: none;
        font-size: 24px;
        width: 140px;
        height: 50px;
    }
}
  
  /* Ipad COMPLETE */
  @media screen and (max-width: 769px) {
    div.contact-box {
        width: 640px;
        /* border: 2px solid #4A6C89; */
        border-radius: 5px;
        margin-left: 320px;
        text-align: center;
        background-color: #A4CAE9;
        /* margin-bottom: 44px; */
    }
  }
  
  /* Iphone 6/7/8 Plus COMPLETE */
  @media screen and (max-width: 414px) {
    div.contact-container {
        display: inline-block;
        width: 95%;
        /* margin-bottom: 10px; */
    }
    
    div.contact-box {
        width: 350px;
        /* border: 2px solid #4A6C89; */
        border-radius: 5px;
        margin-left: 280px;
        text-align: center;
        background-color: #A4CAE9;
        /* margin-bottom: 44px; */
    }
    
    div.contact-title {
        /* float: left; */
        padding-top: 10px;
        margin-top: 10px;
        /* margin-bottom: 20px; */
    }
  }
  
  /* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
  @media screen and (max-width: 412px) {
    div.contact-container {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        margin-left: -500px;
    }
    
    div.contact-box {
        width: 340px;
        border-radius: 5px;
        text-align: center;
        background-color: #A4CAE9;
    }
    
    div.contact-title {
        padding-top: 10px;
    }
    
    .form-control {
        width: 90%;
    }
    
    div.contact-name {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    div.contact-email {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    div.contact-button {
        margin-top: 16px;
        margin-bottom: 8px;
        padding-bottom: 10px;
    }
    
    button {
        background-color: #4A6C89;
        color: white;
        border-radius: 4px;
        border: none;
        text-decoration: none;
        font-size: 16px;
    }
  }
  
  /* Iphone 5/SE & Galaxy S5 */
  @media screen and (max-width: 375px) {
    div.contact-container {
        display: inline-block;
        width: 90%;
        margin-bottom: 10px;
        /* margin-left: -500px; */
        margin-left: -530px;
    }
    
    div.contact-box {
        width: 90%;
        border-radius: 5px;
        text-align: center;
        background-color: #A4CAE9;
    }
  } 