/* Desktop PC & Responsive */
div.footer {
    width: 100%;
    height: 7vh;
    font-size: 100%;
    background-color: #4A6C89;
    color: white;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, #4A6C89, #123451)
}

p.footer-text {
    padding-top: 1px;
}

  
  /* Ipad Pro COMPLETE */
  @media screen and (max-width: 1024px) {
    div.footer {
        width: 100%;
        /* height: 7vh; */
        font-size: 200%;
        background-color: #4A6C89;
        color: white;
        padding-top: 10px;
    }
    
    p.footer-text {
        padding-top: 1px;
    }
}
  
  /* Ipad COMPLETE */
  @media screen and (max-width: 769px) {
    div.footer {
        width: 100%;
        /* height: 7vh; */
        font-size: 150%;
        background-color: #4A6C89;
        color: white;
        padding-top: 10px;
    }
    
    p.footer-text {
        padding-top: 1px;
    }
  }
  
  /* Iphone 6/7/8 Plus COMPLETE */
  @media screen and (max-width: 414px) {
    div.footer {
        width: 100%;
        /* height: 7vh; */
        font-size: 100%;
        background-color: #4A6C89;
        color: white;
        padding-top: 10px;
    }
    
    p.footer-text {
        padding-top: 1px;
    }
  }
  
  /* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
  @media screen and (max-width: 412px) {
    div.footer {
        width: 100%;
        /* height: 7vh; */
        font-size: 100%;
        background-color: #4A6C89;
        color: white;
        padding-top: 10px;
    }
    
    p.footer-text {
        padding-top: 1px;
    }
  }
  
  /* Iphone 5/SE & Galaxy S5 */
  @media screen and (max-width: 375px) {
    div.footer {
        width: 100%;
        height: 10vh;
        font-size: 100%;
        background-color: #4A6C89;
        color: white;
        padding-top: 10px;
    }
    
    p.footer-text {
        padding-top: 1px;
    }
  } 